.logoImage {
    height: 20px;
    margin-left: 20px;
}
#fwslider .title {
    margin-left: 59%;
    font-size: 2em;
}
.bannerDetails {
    background: none !important;
    margin-left: 34% !important;
}