html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
}

div.landing {
    height: 100%;
    width: 100%;
    background: url("../images/landing_banner_new.jpg") no-repeat center right fixed;
    background-size: 100% 100%;
    font: normal 12px/18px 'Josefin Sans', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 96%;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

h1 a {
    display: inline-block;
}

.top-nav {
    float: right;
    padding: 28px 0 38px;
    margin: 0 7px 0 0;
}

.top-nav li {
    float: left;
    margin-left: 14px;
}

.top-nav li a {
    width: 24px;
    height: 20px;
    text-indent: -999em;
    display: inline-block;
    background: url("../images/top-nav-icons.png") no-repeat;
}

.top-nav li.cart a {
    background-position: 0px 0px;
}

.top-nav li.cart a:hover {
    background-position: 0px -20px;
}

.top-nav li.user a {
    background-position: -24px 0px;
}

.top-nav li.user a:hover {
    background-position: -24px -20px;
}

.top-nav ul li a {
    width: 29px;
    height: 29px;
    text-indent: -999em;
    display: inline-block;
    /*background: url("../img/top-nav2-icons.png") no-repeat;*/
}

.top-nav ul li.cart a {
    background-position: 0px 0px;
}

.top-nav ul li.cart a:hover {

    background-position: 0px -29px;

}

.top-nav ul li.user a {

    background-position: -24px 0px;

}

.top-nav ul li.user a:hover {

    background-position: -24px -29px;

}

.top-nav ul li.ig a {

    background-position: -59px 0px;

}

.top-nav ul li.ig a:hover {

    background-position: -59px -29px;

}

.top-nav ul li.pt a {

    background-position: -98px 0px;

}

.top-nav ul li.pt a:hover {

    background-position: -98px -29px;

}

.top-nav ul li.tweet a {

    background-position: -135px 0px;

}

.top-nav ul li.tweet a:hover {

    background-position: -135px -29px;

}

.top-nav ul li.fb a {

    background-position: -174px 0px;

}

.top-nav ul li.fb a:hover {

    background-position: -174px -29px;

}

.nav-list {

    padding: 10px 0;

}

h2 {

    font-size: 38px;

    line-height: 50px;

    text-transform: uppercase;

    color: #fff;

    padding: 0px 40px;

    margin: 172px 0 0 110px;

    position: relative;

    letter-spacing: 8px;

    display: inline-block;

}

h2 span {

    width: 13px;

    height: 23px;

    position: absolute;

    top: 13px;

}

h2 .left-flower {

    background: url("../images/left-flower.png") no-repeat 0 0;

    left: 0;

}

h2 .right-flower {

    background: url("../images/right-flower.png") no-repeat 0 0;

    right: 4px;

}

.view-collection a {

    border: 1px solid #fff;

    padding: 13px 10px 11px;

    display: inline-block;

    font-size: 28px;

    text-transform: uppercase;

    font-weight: normal;

    color: #fff;

    margin: 20px 0 0 178px;

}

.view-collection a:hover {

    color: #333;

    border-color: #333;

    background-color: #FFFFFF;

}


footer {

    margin: 160px 0 0;

}

.bottom-nav {

    float: left;

    padding: 30px 0;

    margin: 0;

}

.bottom-nav li {

    float: left;

    margin-left: 10px;

}

.bottom-nav li a {

    width: 28px;

    height: 29px;

    text-indent: -999em;

    display: inline-block;

    /*background: url("../img/bottom-nav-icons.png") no-repeat;*/

}

.bottom-nav li.ig a {

    background-position: 0px 0px;

}

.bottom-nav li.ig a:hover {

    background-position: 0px -29px;

}

.bottom-nav li.pt a {

    background-position: -39px 0px;

}

.bottom-nav li.pt a:hover {

    background-position: -39px -29px;

}

.bottom-nav li.tweet a {

    background-position: -76px 0px;

}

.bottom-nav li.tweet a:hover {

    background-position: -76px -29px;

}

.bottom-nav li.fb a {

    background-position: -115px 0px;

}

.bottom-nav li.fb a:hover {

    background-position: -115px -29px;

}

@media (max-width: 767px) {

    div.landing {

        padding: 0;

        background: url("../images/landing_banner_new.jpg") no-repeat top right fixed;

        background-size: 100% 100%;

    }

    h1 a img {

        width: 80%;

        display: inline-block;

    }

    h2 {

        margin: 30px 0 auto;

        font-size: 1.5em;

    }

    .main {

        text-align: center

    }

    .view-collection a {

        margin: 20px 0 auto;

        font-size: 1.5em;

    }

    footer {

        margin: 0px 0 0;

        position: absolute;

        right: 10px;

        bottom: 5px;

    }

}

@media (max-width: 479px) {

    div.landing {

        padding: 0;

        background: url("../images/landing_banner_new.jpg") no-repeat top right fixed;

        background-size: 100% 100%;

    }

}

.main {
    margin-top: 14% !important;
}

.nav_left { float:left; margin-top:30px !important;}
.nav_left li{display:inline; padding-left:5px;}
.nav_left li a img{width:32px;}